
@import url('font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');

html{
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Zilla Slab', serif;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    background: #fff;
    overflow-x: hidden;
    scrollbar-face-color: #121212;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zilla Slab', serif;
}

my-navbar {
    border-radius: 0px;
}

/*[3. LOGO]*/
.logo {
    margin-bottom: 40px;
}

    .logo h1,
    .logo h2 {
        margin: 5px 0 5px;
        text-align: left;
        font-size: 32px;
        line-height: 34px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1px;
    }

        .logo h1 span,
        .logo h2 span {
            font-weight: 300;
        }

        .logo h1 a,
        .logo h2 a {
            color: #333;
            text-decoration: none;
            -webkit-transition: color 0.3s ease-in-out, text-decoration 0.5s ease-in-out;
            -moz-transition: color 0.3s ease-in-out, text-decoration 0.5s ease-in-out;
            -ms-transition: color 0.3s ease-in-out, text-decoration 0.5s ease-in-out;
            -o-transition: color 0.3s ease-in-out, text-decoration 0.5s ease-in-out;
            transition: color 0.3s ease-in-out, text-decoration 0.5s ease-in-out;
        }

            .logo h1 a:hover,
            .logo h2 a:hover {
                color: #888;
                text-decoration: underline;
            }

.account {
    text-align: right;
}

    .account a {
        color: #333;
        text-decoration: none;
    }

        .account a:hover {
            color: #333;
            text-decoration: underline;
        }

    .account h4 {
        font-weight: 600;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .account ul {
        list-style-type: none;
        margin-left: -20px;
        float: right;
    }

        .account ul > li {
            float: left;
            margin: 0 0 0 10px;
        }

            .account ul > li:nth-child(1),
            .account ul > #your-account {
                border-right: 1px solid #333;
                padding-right: 12px;
            }

/*[4. NAV MENU]*/


.nav-menus {
    border-top: 2px solid #333;
    padding-top: 10px;
    padding-bottom: 20px;
}

    .nav-menus .nav-pills > li > a {
        background: transparent;
        color: #333;
    }

        .nav-menus .nav-pills > li > a:hover {
            background: #eaeaea;
            color: #333;
        }

    .nav-menus .nav-pills > .active > a,
    .nav-menus .nav-pills > .active > a:hover,
    .nav-menus .nav-pills > .active > a:focus {
        background: #333;
        color: #fff;
    }

/*CAROUSEL*/
.main-text {
    position: absolute;
    top: 100px;
    width: 96.66666666666666%;
    color: #FFF;
}

.carousel-btns {
    margin-top: 2em;
}

    .carousel-btns .btn {
        width: 150px;
    }

.carousel-inner .imgOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 28, 38, 0.5);
}

.carousel-inner img {
    width: 100%;
}

/*CONTROL*/
.carousel-control {
    width: auto;
}

    .carousel-control .icon-prev,
    .carousel-control .icon-next,
    .carousel-control .fa-chevron-left,
    .carousel-control .fa-chevron-right {
        position: absolute;
        top: 47%;
        right: 0;
        z-index: 5;
        display: inline-block;
        background-color: #000;
        width: 38px;
        height: 38px;
        line-height: 40px;
        font-size: 14px;
    }

    .carousel-control .icon-prev,
    .carousel-control .fa-chevron-left {
        left: 0;
    }

.carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 0 1px;
    border: 2px solid #fff;
    opacity: .8;
}

.carousel-indicators .active {
    background-color: #28ace2;
    border-color: #28ace2;
}

.carousel-control .icon-prev, .carousel-control .fa-chevron-left,
.carousel-control .icon-right, .carousel-control .fa-chevron-right {
    border-radius: 50px;
}

.carousel-control .icon-prev, .carousel-control .fa-chevron-left {
    left: 30px;
}

.carousel-control .icon-right, .carousel-control .fa-chevron-right {
    right: 30px;
}

.olContent {
    width: 100%;
}

    .olContent h2 {
        color: #fff;
        font-size: 19px;
        padding: 9px 0 0;
    }

.olSearch {
    width: 100%;
}

    .olSearch .inputComn {
        margin-bottom: 0;
    }

    .inputComn {
        color: black;
        font-size: 14px;
        height: 44px;
        width: 100%;
        cursor: pointer;
        padding: 0 15px;
    }

    .searchIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .searchBtn {
        background-color: #005faa;
        border: 0 none;
        color: #fff;
        font-size: 16px;
        padding: 11px 16px;
        text-transform: uppercase;
        cursor: pointer;
        height: 44px;
    }

        .searchBtn:hover {
            background-color: #326987;
        }

    .olSearch {
        position: relative;
    }

.content {
}

    .content .page-header {
        padding-bottom: 5px;
        margin: 20px 0 30px;
        border-bottom: 1px solid #eee;
    }

        .content .page-header h2 {
            font-weight: 700;
        }

.product-item {
    position: relative;
}

    .product-item .caption h5 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        border-top: 2px solid #333;
        margin-top: 10px;
        padding-top: 10px;
    }

    .product-item .caption .product-item-price {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
    }

    .product-item .product-item-badge {
        position: absolute;
        top: 4px;
        left: 4px;
        padding: 5px 12px 6px;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
        background: #333;
        -webkit-border-radius: 4px 0 4px 0;
        -moz-border-radius: 4px 0 4px 0;
        -o-border-radius: 4px 0 4px 0;
        border-radius: 4px 0 4px 0;
    }

.backButton {
    background: #ffbb00 url('Images/back_icon_white.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 24px;
    background-position-y: 2px;
    background-position-x: 6px;
    position: relative;
    float: right;
    margin-right: 4px;
}

.continueButton {
    background: #3a5199 url('Images/continue_icon_white.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 18px;
    background-position-y: 4px;
    background-position-x: 6px;
    position: relative;
    float: right;
}

.buyButton {
    background: mediumaquamarine url('Images/buy_icon_white.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 18px;
    background-position-y: 5px;
    background-position-x: 6px;
    position: relative;
    float: right;
}
.frontButton {
    background: mediumaquamarine url('Images/front_icon_white.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 24px;
    background-position-y: 2px;
    background-position-x: 6px;
    position: relative;
    float: right;
    margin-right: 4px;
}

.cartButton {
    background: #f18681 url('Images/add_cart_icon_white.png') no-repeat;
    color: #fff;
    padding-left: 26px;
    background-size: 18px;
    background-position-y: 4px;
    background-position-x: 6px;
    position: relative;
    float: right;
    margin-right: 9px;
}

.checkoutButton {
    background: #a5c05b url('Images/cart_icon_white.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 24px;
    background-position-y: 2px;
    background-position-x: 6px;
    margin-right: 9px;
}

.category-heading {
    position: relative;
    top: 8px;
    left: 8px;
}

.login-edit {
    width: 370px;
}
/*toy story styles page styles*/

.container {
    width: 95%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*input {
    max-width: 320px;
}*/

.image-upload {
    margin-left: 30px;
}

input[type="file"] {
    display: inline;
}

.logo-div {
    display: inline-block;
    width: 320px;
}

.details-div {
    display: inline-block;
    vertical-align: middle;
}

.edit-div {
    display: inline-block;
    vertical-align: top;
}

.create-div {
    display: inline-block;
    vertical-align: top;
}


input#likeButton {
    background: #3a5199 url('Images/like_icon.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 24px;
    /*background-position-y: 2px;*/
    background-position-x: 6px;
}

.removeCartButton {
    background: #CD5C5C url('Images/remove_cart_white.png') no-repeat;
    background-size: 20px;
    background-position-y: 4px;
    background-position-x: 6px;
    height: 30px;
    width: 30px;
}

.plusButton {
    background: #20B2AA url('Images/plus_white.png') no-repeat;
    color: #fff;
    background-size: 25px;
    background-position-y: 2px;
    background-position-x: 2px;
    height: 30px;
    width: 30px;
}


.minusButton {
    background: #DC143C url('Images/minus_white.png') no-repeat;
    color: #fff;
    background-size: 16px;
    background-position-y: 7px;
    background-position-x: 6px;
    height: 30px;
    width: 30px;
}


.deleteButton {
    background: #b2473e url('Images/delete_white.png') no-repeat;
    color: #fff;
    padding-left: 25px;
    background-size: 16px;
    background-position-y: 6px;
    background-position-x: 7px;
}

.createButton {
    background: #a5c05b url('Images/create_white_icon.png') no-repeat;
    color: #fff;
    padding-left: 27px;
    background-size: 20px;
    background-position-y: 4px;
    background-position-x: 6px;
}

.loginButton {
    background: #3b5998 url('Images/login_white_icon.png') no-repeat;
    color: #fff;
    padding-left: 27px;
    background-size: 18px;
    background-position-y: 5px;
    background-position-x: 6px;
}

.signUpButton {
    background: #dd4b39 url('Images/signup_white_icon.png') no-repeat;
    color: #fff;
    padding-left: 27px;
    background-size: 20px;
    background-position-y: 4px;
    background-position-x: 6px;
}

.editButton {
    background: #2D8FB2 url('Images/edit_white.png') no-repeat;
    color: #fff;
    padding-left: 24px;
    background-size: 20px;
    background-position-y: 4px;
    background-position-x: 3px;
    padding-right: 5px;
}

.saveButton {
    background: #f18681 url('Images/save_icon_white.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 24px;
    background-position-y: 2px;
    background-position-x: 6px;
}

.backButton {
    background: #ffbb00 url('Images/back_icon_white.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 24px;
    background-position-y: 2px;
    background-position-x: 6px;
    position: relative;
    float: right;
    margin-right: 4px;
}

.detailsButton {
    background: #128277 url('Images/details_white.png') no-repeat;
    color: #fff;
    padding-left: 26px;
    background-size: 16px;
    background-position-y: 7px;
    background-position-x: 9px;
}

input[type=file] {
    color: #000;
    background-color: #fec810;
    padding: 4px;
    border-radius: 3px;
    position: relative;
    top: -4px;
    width: 200px;
}


.yellow-text {
    color: #fec810;
}

.yellow-btn {
    background-color: #fec810;
    color: black;
}


.form-group input[type=submit] {
    position: relative;
    float: right;
}

.form-group {
    width: 320px;
}

.edit-form {
    text-align: center;
}

.create-form {
    text-align: center;
}

/*Login page styles*/
.guestInfo {
    background-color: #7e8987;
    color: white !important;
    font-size: large;
    text-align: center;
    padding: 5px;
}

.adminInfo {
    background-color: #4b4a67;
    color: white !important;
    font-size: large;
    text-align: center;
    padding: 5px;
}
ul ul, ol ul {
    list-style-type: none !important;
    padding-left: 1em;
}

#createAccount a {
    font-size: 20px !important;
    color: #E59866 !important;
}

    #createAccount a:hover {
        color: mediumaquamarine !important;
    }

.div-center {
    padding-top: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#container{
    min-height: 100%;
}

#main{
    overflow:auto;
    padding-bottom:50px;
    overflow-x: hidden;
}

#footer{
    position:relative;
    height:50px;
    margin-top: -50px;
    text-align: center;
    padding-top:15px;
}