@model OnlineJewelleryStore.Models.Cart

<div class="ajaxcart" id="cart-details">
    <div>
        <i class="ion-android-cart"></i> @Model.NumberOfItems item(s) - £@Model.TotalPrice
    </div>
    <div class="checkoutName">
        @Html.ActionLink("Checkout", "Checkout", "Checkout")
    </div>
</div>