@model OnlineJewelleryStore.Models.Cart

<div class="ajaxcart" id="cart-details">
    <div class="checkoutName">
        @Html.ActionLink(
            "Checkout " + @Model.NumberOfItems + " item(s) - £" + @Model.TotalPrice, 
            "Checkout",
            "Cart",
            new { }, 
            new { @class = "btn btn-primary btn-sm checkoutButton" }
        )
    </div>
</div>