@model IEnumerable<OnlineJewelleryStore.Models.Tbl_Product>

@{
    ViewBag.Title = "Products";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container" style="padding-top:150px;">
        <div class="row product-container">
            @foreach (var product in Model)
            {
                @Html.Action("_Productpartial", new { id = product.Id })
            }
        </div>
        @Html.ActionLink(
            "Back to Home Page ",
            "Index",
            new {},
            new {
                @class = "btn btn-primary btn-sm backButton",
                @style = "float:right;"
            }
        )
    </div>
}

