@model OnlineJewelleryStore.Models.Tbl_Product

<div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
    <div class="thumbnail product-item" style="height:300px">
        <a href=@Url.Action("ProductDetails", "Product", new {id = Model.Id})>
            <img 
                 src=@Url.Content(Model.Image) 
                 class="img-responsive" 
                 title="click to view product detail" 
                 style="cursor:pointer;height:160px;width:100%;"
             />
        </a>
        <div class="caption">
            <h5 class="text-primary">@Model.Name</h5>
            <p class="text-danger" style="font-weight:bold">@Html.DisplayFor(modelItem => Model.Price)</p>
            <div class="product-item-badge">New</div>
        </div>
        <div>
            @Ajax.ActionLink(
         linkText: "Add to Cart",
         actionName: "AddToCart",
         controllerName: "Home",
         routeValues: new { productId = Model.Id, quantity = 1 },
         ajaxOptions: new AjaxOptions {
             UpdateTargetId = "cart-details",
             InsertionMode = InsertionMode.Replace
         },
         htmlAttributes: new { @class = "btn btn-primary btn-sm cartButton", @style = "float:right;margin-left:3px" }
            )
            @Html.ActionLink(
                "Details",
                "ProductDetails",
                "Product",
                new { id = Model.Id },
                new { @class = "btn btn-primary btn-sm detailsButton", @style = "float:right" }
           )
        </div>
    </div>
</div>